.container {
  background: linear-gradient(#4a1371, #1a0729);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.content {
  @apply mx-auto max-w-screen-2xl px-8 py-32;
  @apply flex flex-col justify-center items-center gap-[75px];
}

.hero__text {
  @apply text-center flex flex-col items-center gap-[20px];
}

.hero__text p {
  @apply font-inter;
}

.hero__text p:first-of-type {
  @apply font-bold text-[18px] uppercase;
  background: linear-gradient(269.83deg, #dd77cd 0%, #9a5aec 96.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero__text p:nth-of-type(2) {
  @apply text-[#FFFFFF80] lg:text-[21px] capitalize max-w-[523px];
}

.hero__text h1 {
  @apply text-white font-inter font-bold text-[28px] lg:text-[52px] max-w-[797px];
}

.hero__buttons {
  @apply flex gap-[20px];
}

.hero__buttons button {
  @apply rounded-[8px] font-poppins text-white;
  @apply px-4 lg:px-5 py-[16px] relative;
}

.hero__buttons span {
  @apply font-inter font-bold italic text-[9px] px-2  bg-[#27D480] h-[14px];
  @apply rounded-l-[8px] rounded-tr-[8px];
  position: absolute;
  top: 0;
  right: 0;
}

.hero__buttons button:first-of-type {
  background: linear-gradient(80.59deg, #9900cc 33.48%, #66227c 101.66%);
}

.hero__buttons button:nth-of-type(2)::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  @apply rounded-[8px] p-[1px];
  z-index: 0;
  background: linear-gradient(270deg, #bf5eff -6.46%, #cb37ff 106.12%);
}

.container__ellipses {
  @apply absolute h-full w-full top-0;
  z-index: -1;
}

.ellipses__inner {
  @apply relative h-full;
}

.ellipses__inner img {
  @apply hidden lg:block;
  position: absolute;
}

.ellipses__inner img:first-child {
  @apply block opacity-100 lg:opacity-50 lg:left-[38%];
  bottom: -300px;
}

.ellipses__inner img:nth-child(2) {
  @apply block;
  left: 60px;
  top: 50px;
}

.ellipses__inner img:nth-child(3) {
  left: 60px;
  top: 300px;
}

.ellipses__inner img:nth-child(4) {
  left: 150px;
  bottom: 60px;
}

.ellipses__inner img:nth-child(5) {
  left: 10%;
  bottom: -310px;
  opacity: 0.1;
}

.ellipses__inner img:nth-child(6) {
  @apply block;
  right: 60px;
  top: 160px;
}

.ellipses__inner img:nth-child(7) {
  @apply block right-[30px] lg:right-[350px];
  top: 500px;
  opacity: 0.2;
}

.ellipses__inner img:nth-child(8) {
  right: 30px;
  bottom: -200px;
  opacity: 0.3;
}
