.container {
  background: linear-gradient(90deg, #271043, #350c4c);
  box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.244689);
}

.content {
  @apply mx-auto max-w-screen-2xl px-6 py-6 h-[80px];
  @apply flex justify-between items-center;
}

.nav {
  @apply flex gap-[60px] items-center;
}

.logo {
  @apply flex gap-3;
}

.nav__menu {
  @apply hidden lg:flex gap-[60px] items-center;
}

.nav__menu li {
  @apply font-inter text-white opacity-[0.4] hover:opacity-100;
}

.nav button {
  @apply text-white p-[13px] rounded-[8px];
  background: linear-gradient(80.59deg, #9900cc 33.48%, #66227c 101.66%);
}

.nav_mobile {
  @apply fixed h-screen w-full;
  @apply flex flex-col gap-10 pt-6 px-4;
  z-index: 999;
  top: 0;
  background: rgba(34, 10, 34, 0.56);
  backdrop-filter: blur(15px);
}

.nav__menu_mobile {
  @apply mx-12;
}

.nav__menu_mobile li {
  @apply border-b-[1px] border-white/[0.14] py-8;
  @apply text-[21px] text-white/[0.4];
}

.nav__menu_mobile li:first-of-type {
  @apply pt-4;
}
